.well-known/
cgi-bin/
cgi-sys/
vendor/
**logs/

/.env

**/uploads/*
!**/uploads/index.php

tmp/*
!tmp/index.php

smarty/*
!smarty/config/
!smarty/cache/
smarty/cache/*
!smarty/cache/index.php
!smarty/tmpl_c/
smarty/tmpl_c/*
!smarty/tmpl_c/index.php
