/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,400&display=swap");

:root {
  --muted: #666;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: "Lato", sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.container {
  max-width: 680px;
  margin: auto;
  box-shadow: 0px 0px 30px #ccc;
}

.global-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.inner-container {
  padding: 0.3rem 1rem;
}

main {
  flex-grow: 1;
  /* height: 100%; */
  /* min-height: 82vh; */
  overflow-y: scroll;
  scrollbar-width: none;
}
.fixed-footer-menu {
  background: #eee;
  border-top: 2px solid #ddd;
}
a.menu-item {
  padding: 0.5rem 0.5rem 0.2rem 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: #222;
  flex-grow: 1;
}

a.menu-item img {
  height: 1.6rem;
  width: 1.6rem;
  margin-bottom: 0.3rem;
}

.menu-title {
  text-transform: capitalize;
  font-size: 0.9rem;
}
.menu-active {
  background-color: #5552;
  font-weight: bolder;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}
.justify-space-between {
  justify-content: space-between;
}
.justify-space-around {
  justify-content: space-around;
}
.justify-space-evenly {
  justify-content: space-evenly;
}
.justify-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.favorite-item {
  padding: 0.4rem;
  border: 1px solid #333;
  margin: 0.1rem;
  text-decoration: none;
  flex-grow: 1;
  border-radius: 0.35rem;
  text-align: center;
}

.favorite-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: #fff3;
  border: none;
  font-weight: bold;
}
.favorite-item:hover {
  background-color: #fff4;
}

.white {
  color: white;
}
.menu-title {
  line-height: 1;
  margin-top: 0.5rem;
  font-size: 0.8em;
  font-weight: bold;
}

.menu-content a:hover {
  background-color: #3332;
  cursor: pointer;
}

a {
  color: #333;
}

.link {
  font-weight: bold;
  font-size: 0.8em;
}

.list-menu-title {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #888;
}

.list-menu-title:last-of-type {
  border-bottom: none !important;
}

.list-menu-title:hover {
  background-color: #eee;
}

.list-menu-title img {
  height: 1rem;
}
.menu-content {
  padding-left: 1rem;
  padding-right: 1rem;
  display: none;
}

.top-section {
  background: linear-gradient(to bottom right, #338, #499);
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* border-radius: 0 0 0.8rem 0.8rem; */
  color: white;
  text-align: center;
}

.balance {
  font-size: 1.75rem;
}
.top-section .quick-menu a {
  background-color: #fff3;
  margin: 0.3rem;
  color: white;
  border-radius: 0.5rem;
}

.profile-picture {
  width: 70px;
  height: 70px;
  border: 2px solid white;
  border-radius: 50%;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.profile-name {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
}

.input {
  padding: 0.5rem;
  color: #333;
  border-radius: 10px;
  border: 1px solid #eee;
}
.button {
  background: linear-gradient(to bottom right, #338, #499);
  font-weight: bold;
  color: white;
  border-radius: 30px;
  padding: 0.5rem 0.8rem;
  border-width: 0;
  cursor: pointer;
}

.button.cancel {
  background: #d00909;
}

.p-1 {
  padding: 1rem;
}
.scrollable-container {
  display: flex;
  flex-direction: column;
}
/* .scrollable-fixed-area {

} */
.scrollable-scroll-area {
  flex-grow: 1;
  max-height: 74vh;
  overflow-y: scroll;
  scrollbar-width: none;
}

.history-item {
  margin: 0.5rem;
  padding: 1rem 0.5rem;
  border-radius: 0.7rem;
  box-shadow: 0px 0px 5px #bbb;
}

.history-item:hover {
  cursor: pointer;
  background-color: #eee8;
}

.history-details {
  line-height: 1.1;
  flex-grow: 1;
}

.history-status {
  background-color: #eee;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  margin-right: 0.8rem;
  background-position: center;
  background-size: contain;
}

.history-price {
  line-height: 1.1rem;
  text-align: right;
}
.history-price small {
  color: var(--muted);
}

.card {
  margin: 0.8rem 1rem;
  padding: 1rem 0.5rem;
  border-radius: 0.7rem;
  box-shadow: 0px 0px 5px #bbb;
}

.card:hover {
  cursor: pointer;
  background-color: #eee5;
}

.card-details {
  line-height: 1.1;
  flex-grow: 1;
}

.card-avatar {
  background-color: #eee;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  margin-right: 0.8rem;
  background-position: center;
  background-size: contain;
}

.card-info {
  line-height: 1.1rem;
  text-align: right;
}
.card-info small {
  color: var(--muted);
}

.text-decoration-none {
  text-decoration: none;
}
.text-center {
  text-align: center;
}
.menu-link {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 0.5rem;
  border: 1px solid #eee;
}

.img-link {
  border: 1px solid #ddd;
  margin-left: 10px;
  padding: 0.4rem;
  border-radius: 10px;
}

.product {
  width: 100%;
  display: block;
  padding: 0.4rem;
  font-weight: bold;
}

.product small {
  font-weight: lighter;
}

.p-none {
  padding: 0px;
}

.badge {
  border-radius: 15px;
  padding: 0.3rem 0.5rem;
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: bold;
  border: 1px solid #888;
  background-color: #eee;
  margin-left: 0.2rem;
}

.modal {
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  height: 100%;
  color: #333;
  z-index: 100;
}

.pointer {
  cursor: pointer;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
